
#weather-container {
    border: solid 2px black;
}

#show-weather {
    visibility: hidden;
}

#current-weather-container {
    visibility: hidden;
}

.hide {
    display: none;
}

.frogpic {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.show-jokes {
    margin-top: 20px;
}